/*
  Modern CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* SCSS Framework boilerplate from Ristretto: https://github.com/kylelarkin/ristretto */
* {
  box-sizing: border-box;
}

body, select, input, textarea {
  color: #333;
}

::-moz-selection {
  background: #ccc;
  color: #000;
  text-shadow: none;
}

::selection {
  background: #ccc;
  color: #000;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: transparent;
}

ins {
  background-color: #ccc;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ccc;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

body {
  color: #555;
  font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.5;
  font-display: swap;
}

a {
  color: #CA3E22;
  text-decoration-color: #CA3E22;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  transition: all 0.25s ease-out;
}
a:hover, a:focus {
  color: #000;
  text-decoration-thickness: 2px;
}
nav a, #wpadminbar a {
  text-decoration: none;
}
nav a:hover, nav a:active, #wpadminbar a:hover, #wpadminbar a:active {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  color: #333;
  font-family: "roc-grotesk-condensed", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.04;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
  max-width: 880px;
}
@media (min-width: 320px) {
  h1 {
    font-size: calc(40px + 6 * (100vw - 320px) / 960);
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 46px;
  }
}
@media (min-width: 320px) {
  h1 {
    margin-bottom: calc(0.75rem + 0.5 * (100vw - 320px) / 960);
  }
}
@media (min-width: 1280px) {
  h1 {
    margin-bottom: 1.25rem;
  }
}

h2 {
  font-size: 30px;
  color: #333;
  font-family: "roc-grotesk-condensed", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 0 0.5rem;
  text-transform: uppercase;
  max-width: 880px;
}
@media (min-width: 320px) {
  h2 {
    font-size: calc(30px + 6 * (100vw - 320px) / 960);
  }
}
@media (min-width: 1280px) {
  h2 {
    font-size: 36px;
  }
}

* + h2 {
  margin-top: 36px;
}
@media (min-width: 320px) {
  * + h2 {
    margin-top: calc(36px + 10 * (100vw - 320px) / 960);
  }
}
@media (min-width: 1280px) {
  * + h2 {
    margin-top: 46px;
  }
}

h3 {
  font-size: 26px;
  color: #333;
  font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 0.5rem;
  max-width: 880px;
}
@media (min-width: 320px) {
  h3 {
    font-size: calc(26px + 2 * (100vw - 320px) / 960);
  }
}
@media (min-width: 1280px) {
  h3 {
    font-size: 28px;
  }
}

* + h3 {
  margin-top: 32px;
}
@media (min-width: 320px) {
  * + h3 {
    margin-top: calc(32px + 24 * (100vw - 320px) / 960);
  }
}
@media (min-width: 1280px) {
  * + h3 {
    margin-top: 56px;
  }
}

h4 {
  font-size: 1.25rem;
  color: #333;
  font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 0.75rem;
  text-transform: uppercase;
  max-width: 880px;
}

* + h4 {
  margin-top: 35px;
}
@media (min-width: 320px) {
  * + h4 {
    margin-top: calc(35px + 5 * (100vw - 320px) / 960);
  }
}
@media (min-width: 1280px) {
  * + h4 {
    margin-top: 40px;
  }
}

h5 {
  font-size: 1.25rem;
  color: #333;
  font-family: "roc-grotesk-condensed", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 0 0.5rem;
  text-transform: uppercase;
  max-width: 880px;
}

* + h5 {
  margin-top: 36px;
}
@media (min-width: 320px) {
  * + h5 {
    margin-top: calc(36px + 2 * (100vw - 320px) / 960);
  }
}
@media (min-width: 1280px) {
  * + h5 {
    margin-top: 38px;
  }
}

h6 {
  color: #333;
  font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.3;
  margin: 0 0 0.6875rem;
  text-transform: uppercase;
  max-width: 880px;
}

* + h6 {
  margin-top: 35px;
}
@media (min-width: 320px) {
  * + h6 {
    margin-top: calc(35px + -7 * (100vw - 320px) / 960);
  }
}
@media (min-width: 1280px) {
  * + h6 {
    margin-top: 28px;
  }
}

p, .has-default-font-size {
  font-size: 17px;
  font-feature-settings: "pnum" on, "lnum" on;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.5;
  line-height: 1.6;
  margin: 0 0 1.25rem 0;
  max-width: 880px;
}
@media (min-width: 320px) {
  p, .has-default-font-size {
    font-size: calc(17px + 1 * (100vw - 320px) / 960);
  }
}
@media (min-width: 1280px) {
  p, .has-default-font-size {
    font-size: 18px;
  }
}

p:empty {
  display: none;
}

em, i {
  font-style: italic;
}
em strong, em b, i strong, i b {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}
strong em, strong i, b em, b i {
  font-weight: bold;
}

ol {
  margin: 1em 0 1em 1.1em;
  padding: 0;
}
ol ol, ol ul {
  margin: 0 0 0 1.1em;
}
ol li::marker {
  font-size: 1rem;
}

ul {
  list-style: disc;
  margin: 1em 0 1.5em 2em;
  padding: 0;
}
ul ul {
  margin: 0 0 0 1.1em;
}
ul li::marker {
  font-size: 0.75rem;
  margin-top: -2px;
  line-height: 1.6;
}
nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
nav ul a {
  text-decoration: none;
}

li {
  font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 1.6;
  max-width: 58rem;
  vertical-align: middle;
}

.is-style-eyebrow {
  font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin: 0 0 0.3125rem;
}

div.wp-block-buttons div.wp-block-button {
  margin-top: 1rem;
}
div.wp-block-buttons div.wp-block-button .has-white-color {
  color: #ffffff;
}
div.wp-block-buttons div.wp-block-button .has-white-color h1, div.wp-block-buttons div.wp-block-button .has-white-color h2, div.wp-block-buttons div.wp-block-button .has-white-color h3, div.wp-block-buttons div.wp-block-button .has-white-color h4, div.wp-block-buttons div.wp-block-button .has-white-color h5, div.wp-block-buttons div.wp-block-button .has-white-color h6 {
  color: #ffffff;
}
div.wp-block-buttons div.wp-block-button .is-style-outline .has-white-color {
  border-color: #ffffff !important;
}
div.wp-block-buttons div.wp-block-button .is-style-outline .has-white-color:hover {
  background-color: #ffffff !important;
}
div.wp-block-buttons div.wp-block-button .has-white-background-color {
  background-color: #ffffff;
  position: relative;
}
div.wp-block-buttons div.wp-block-button .has-white-background-color.section:after {
  content: " ";
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  left: 0;
  top: 0;
}
div.wp-block-buttons div.wp-block-button .has-white-background-color.wp-block-button__link {
  border: 2px solid #ffffff;
}
div.wp-block-buttons div.wp-block-button .has-white-background-color a[href^="tel:"] {
  color: #555;
}
div.wp-block-buttons div.wp-block-button .has-white-background-color .is-style-border-left {
  border-color: #fff;
}
div.wp-block-buttons div.wp-block-button .has-teal-color {
  color: #1BA39C;
}
div.wp-block-buttons div.wp-block-button .has-teal-color h1, div.wp-block-buttons div.wp-block-button .has-teal-color h2, div.wp-block-buttons div.wp-block-button .has-teal-color h3, div.wp-block-buttons div.wp-block-button .has-teal-color h4, div.wp-block-buttons div.wp-block-button .has-teal-color h5, div.wp-block-buttons div.wp-block-button .has-teal-color h6 {
  color: #1BA39C;
}
div.wp-block-buttons div.wp-block-button .is-style-outline .has-teal-color {
  border-color: #1BA39C !important;
}
div.wp-block-buttons div.wp-block-button .is-style-outline .has-teal-color:hover {
  background-color: #1BA39C !important;
}
div.wp-block-buttons div.wp-block-button .has-teal-background-color {
  background-color: #1BA39C;
  position: relative;
}
div.wp-block-buttons div.wp-block-button .has-teal-background-color.section:after {
  content: " ";
  background-color: #1BA39C;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  left: 0;
  top: 0;
}
div.wp-block-buttons div.wp-block-button .has-teal-background-color.wp-block-button__link {
  border: 2px solid #1BA39C;
}
div.wp-block-buttons div.wp-block-button .has-teal-background-color a[href^="tel:"] {
  color: #555;
}
div.wp-block-buttons div.wp-block-button .has-teal-background-color .is-style-border-left {
  border-color: #fff;
}
div.wp-block-buttons div.wp-block-button .has-black-color {
  color: #000000;
}
div.wp-block-buttons div.wp-block-button .has-black-color h1, div.wp-block-buttons div.wp-block-button .has-black-color h2, div.wp-block-buttons div.wp-block-button .has-black-color h3, div.wp-block-buttons div.wp-block-button .has-black-color h4, div.wp-block-buttons div.wp-block-button .has-black-color h5, div.wp-block-buttons div.wp-block-button .has-black-color h6 {
  color: #000000;
}
div.wp-block-buttons div.wp-block-button .is-style-outline .has-black-color {
  border-color: #000000 !important;
}
div.wp-block-buttons div.wp-block-button .is-style-outline .has-black-color:hover {
  background-color: #000000 !important;
}
div.wp-block-buttons div.wp-block-button .has-black-background-color {
  background-color: #000000;
  position: relative;
}
div.wp-block-buttons div.wp-block-button .has-black-background-color.section:after {
  content: " ";
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  left: 0;
  top: 0;
}
div.wp-block-buttons div.wp-block-button .has-black-background-color.wp-block-button__link {
  border: 2px solid #000000;
}
div.wp-block-buttons div.wp-block-button .has-black-background-color a[href^="tel:"] {
  color: #555;
}
div.wp-block-buttons div.wp-block-button .has-black-background-color .is-style-border-left {
  border-color: #fff;
}
div.wp-block-buttons div.wp-block-button .has-gray-light-color {
  color: #f2f2f2;
}
div.wp-block-buttons div.wp-block-button .has-gray-light-color h1, div.wp-block-buttons div.wp-block-button .has-gray-light-color h2, div.wp-block-buttons div.wp-block-button .has-gray-light-color h3, div.wp-block-buttons div.wp-block-button .has-gray-light-color h4, div.wp-block-buttons div.wp-block-button .has-gray-light-color h5, div.wp-block-buttons div.wp-block-button .has-gray-light-color h6 {
  color: #f2f2f2;
}
div.wp-block-buttons div.wp-block-button .is-style-outline .has-gray-light-color {
  border-color: #f2f2f2 !important;
}
div.wp-block-buttons div.wp-block-button .is-style-outline .has-gray-light-color:hover {
  background-color: #f2f2f2 !important;
}
div.wp-block-buttons div.wp-block-button .has-gray-light-background-color {
  background-color: #f2f2f2;
  position: relative;
}
div.wp-block-buttons div.wp-block-button .has-gray-light-background-color.section:after {
  content: " ";
  background-color: #f2f2f2;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  left: 0;
  top: 0;
}
div.wp-block-buttons div.wp-block-button .has-gray-light-background-color.wp-block-button__link {
  border: 2px solid #f2f2f2;
}
div.wp-block-buttons div.wp-block-button .has-gray-light-background-color a[href^="tel:"] {
  color: #555;
}
div.wp-block-buttons div.wp-block-button .has-gray-light-background-color .is-style-border-left {
  border-color: #fff;
}
div.wp-block-buttons div.wp-block-button .has-gray-color {
  color: #767676;
}
div.wp-block-buttons div.wp-block-button .has-gray-color h1, div.wp-block-buttons div.wp-block-button .has-gray-color h2, div.wp-block-buttons div.wp-block-button .has-gray-color h3, div.wp-block-buttons div.wp-block-button .has-gray-color h4, div.wp-block-buttons div.wp-block-button .has-gray-color h5, div.wp-block-buttons div.wp-block-button .has-gray-color h6 {
  color: #767676;
}
div.wp-block-buttons div.wp-block-button .is-style-outline .has-gray-color {
  border-color: #767676 !important;
}
div.wp-block-buttons div.wp-block-button .is-style-outline .has-gray-color:hover {
  background-color: #767676 !important;
}
div.wp-block-buttons div.wp-block-button .has-gray-background-color {
  background-color: #767676;
  position: relative;
}
div.wp-block-buttons div.wp-block-button .has-gray-background-color.section:after {
  content: " ";
  background-color: #767676;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  left: 0;
  top: 0;
}
div.wp-block-buttons div.wp-block-button .has-gray-background-color.wp-block-button__link {
  border: 2px solid #767676;
}
div.wp-block-buttons div.wp-block-button .has-gray-background-color a[href^="tel:"] {
  color: #555;
}
div.wp-block-buttons div.wp-block-button .has-gray-background-color .is-style-border-left {
  border-color: #fff;
}
div.wp-block-buttons div.wp-block-button .has-gray-dark-color {
  color: #444;
}
div.wp-block-buttons div.wp-block-button .has-gray-dark-color h1, div.wp-block-buttons div.wp-block-button .has-gray-dark-color h2, div.wp-block-buttons div.wp-block-button .has-gray-dark-color h3, div.wp-block-buttons div.wp-block-button .has-gray-dark-color h4, div.wp-block-buttons div.wp-block-button .has-gray-dark-color h5, div.wp-block-buttons div.wp-block-button .has-gray-dark-color h6 {
  color: #444;
}
div.wp-block-buttons div.wp-block-button .is-style-outline .has-gray-dark-color {
  border-color: #444 !important;
}
div.wp-block-buttons div.wp-block-button .is-style-outline .has-gray-dark-color:hover {
  background-color: #444 !important;
}
div.wp-block-buttons div.wp-block-button .has-gray-dark-background-color {
  background-color: #444;
  position: relative;
}
div.wp-block-buttons div.wp-block-button .has-gray-dark-background-color.section:after {
  content: " ";
  background-color: #444;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  left: 0;
  top: 0;
}
div.wp-block-buttons div.wp-block-button .has-gray-dark-background-color.wp-block-button__link {
  border: 2px solid #444;
}
div.wp-block-buttons div.wp-block-button .has-gray-dark-background-color a[href^="tel:"] {
  color: #555;
}
div.wp-block-buttons div.wp-block-button .has-gray-dark-background-color .is-style-border-left {
  border-color: #fff;
}
div.wp-block-buttons div.wp-block-button .has-transparent-color {
  color: transparent;
}
div.wp-block-buttons div.wp-block-button .has-transparent-color h1, div.wp-block-buttons div.wp-block-button .has-transparent-color h2, div.wp-block-buttons div.wp-block-button .has-transparent-color h3, div.wp-block-buttons div.wp-block-button .has-transparent-color h4, div.wp-block-buttons div.wp-block-button .has-transparent-color h5, div.wp-block-buttons div.wp-block-button .has-transparent-color h6 {
  color: transparent;
}
div.wp-block-buttons div.wp-block-button .is-style-outline .has-transparent-color {
  border-color: transparent !important;
}
div.wp-block-buttons div.wp-block-button .is-style-outline .has-transparent-color:hover {
  background-color: transparent !important;
}
div.wp-block-buttons div.wp-block-button .has-transparent-background-color {
  background-color: transparent;
  position: relative;
}
div.wp-block-buttons div.wp-block-button .has-transparent-background-color.section:after {
  content: " ";
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  left: 0;
  top: 0;
}
div.wp-block-buttons div.wp-block-button .has-transparent-background-color.wp-block-button__link {
  border: 2px solid transparent;
}
div.wp-block-buttons div.wp-block-button .has-transparent-background-color a[href^="tel:"] {
  color: #555;
}
div.wp-block-buttons div.wp-block-button .has-transparent-background-color .is-style-border-left {
  border-color: #fff;
}
div.wp-block-buttons div.wp-block-button .wp-block-button__link {
  padding: 0.55rem 2rem;
  transition: all 0.25s ease-in-out;
}
div.wp-block-buttons div.wp-block-button .wp-block-button__link:not(.has-text-color) {
  color: #ffffff;
}
div.wp-block-buttons div.wp-block-button .wp-block-button__link:not(.has-background) {
  background-color: #1BA39C;
  border: 2px solid #1BA39C;
}
div.wp-block-buttons div.wp-block-button .wp-block-button__link:not(.has-background):hover, div.wp-block-buttons div.wp-block-button .wp-block-button__link:not(.has-background):focus {
  background-color: transparent;
  color: #1BA39C;
  outline: 0;
}
div.wp-block-buttons div.wp-block-button.is-style-outline .wp-block-button__link {
  transition: all 0.25s ease-in-out;
}
div.wp-block-buttons div.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
  border-color: #1BA39C;
  color: #1BA39C;
}
div.wp-block-buttons div.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background) {
  background: transparent;
}
div.wp-block-buttons div.wp-block-button.is-style-outline .wp-block-button__link:hover:not(.has-background), div.wp-block-buttons div.wp-block-button.is-style-outline .wp-block-button__link:focus:not(.has-background) {
  background-color: #1BA39C;
  color: #fff;
  outline: 0;
}
div.wp-block-buttons div.wp-block-button.is-style-outline .wp-block-button__link.has-white-color:hover, div.wp-block-buttons div.wp-block-button.is-style-outline .wp-block-button__link.has-white-color:focus {
  background-color: #fff !important;
  color: #ffffff;
  outline: 0;
}

.wp-block-buttons + p {
  margin-top: 2rem;
}

.wp-block-columns {
  position: relative;
  z-index: 10;
  justify-content: space-between;
}
@media (min-width: 600px) {
  .wp-block-columns {
    display: block !important;
  }
}
@media (min-width: 768px) {
  .wp-block-columns {
    display: flex !important;
  }
}
.wp-block-columns .wp-block-column {
  z-index: 10;
}

.has-white-color {
  color: #ffffff;
}
.has-white-color h1, .has-white-color h2, .has-white-color h3, .has-white-color h4, .has-white-color h5, .has-white-color h6 {
  color: #ffffff;
}

.is-style-outline .has-white-color {
  border-color: #ffffff !important;
}
.is-style-outline .has-white-color:hover {
  background-color: #ffffff !important;
}

.has-white-background-color {
  background-color: #ffffff;
  position: relative;
}
.has-white-background-color.section:after {
  content: " ";
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  left: 0;
  top: 0;
}
.has-white-background-color.wp-block-button__link {
  border: 2px solid #ffffff;
}
.has-white-background-color a[href^="tel:"] {
  color: #555;
}
.has-white-background-color .is-style-border-left {
  border-color: #fff;
}

.has-teal-color {
  color: #1BA39C;
}
.has-teal-color h1, .has-teal-color h2, .has-teal-color h3, .has-teal-color h4, .has-teal-color h5, .has-teal-color h6 {
  color: #1BA39C;
}

.is-style-outline .has-teal-color {
  border-color: #1BA39C !important;
}
.is-style-outline .has-teal-color:hover {
  background-color: #1BA39C !important;
}

.has-teal-background-color {
  background-color: #1BA39C;
  position: relative;
}
.has-teal-background-color.section:after {
  content: " ";
  background-color: #1BA39C;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  left: 0;
  top: 0;
}
.has-teal-background-color.wp-block-button__link {
  border: 2px solid #1BA39C;
}
.has-teal-background-color a[href^="tel:"] {
  color: #555;
}
.has-teal-background-color .is-style-border-left {
  border-color: #fff;
}

.has-black-color {
  color: #000000;
}
.has-black-color h1, .has-black-color h2, .has-black-color h3, .has-black-color h4, .has-black-color h5, .has-black-color h6 {
  color: #000000;
}

.is-style-outline .has-black-color {
  border-color: #000000 !important;
}
.is-style-outline .has-black-color:hover {
  background-color: #000000 !important;
}

.has-black-background-color {
  background-color: #000000;
  position: relative;
}
.has-black-background-color.section:after {
  content: " ";
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  left: 0;
  top: 0;
}
.has-black-background-color.wp-block-button__link {
  border: 2px solid #000000;
}
.has-black-background-color a[href^="tel:"] {
  color: #555;
}
.has-black-background-color .is-style-border-left {
  border-color: #fff;
}

.has-gray-light-color {
  color: #f2f2f2;
}
.has-gray-light-color h1, .has-gray-light-color h2, .has-gray-light-color h3, .has-gray-light-color h4, .has-gray-light-color h5, .has-gray-light-color h6 {
  color: #f2f2f2;
}

.is-style-outline .has-gray-light-color {
  border-color: #f2f2f2 !important;
}
.is-style-outline .has-gray-light-color:hover {
  background-color: #f2f2f2 !important;
}

.has-gray-light-background-color {
  background-color: #f2f2f2;
  position: relative;
}
.has-gray-light-background-color.section:after {
  content: " ";
  background-color: #f2f2f2;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  left: 0;
  top: 0;
}
.has-gray-light-background-color.wp-block-button__link {
  border: 2px solid #f2f2f2;
}
.has-gray-light-background-color a[href^="tel:"] {
  color: #555;
}
.has-gray-light-background-color .is-style-border-left {
  border-color: #fff;
}

.has-gray-color {
  color: #767676;
}
.has-gray-color h1, .has-gray-color h2, .has-gray-color h3, .has-gray-color h4, .has-gray-color h5, .has-gray-color h6 {
  color: #767676;
}

.is-style-outline .has-gray-color {
  border-color: #767676 !important;
}
.is-style-outline .has-gray-color:hover {
  background-color: #767676 !important;
}

.has-gray-background-color {
  background-color: #767676;
  position: relative;
}
.has-gray-background-color.section:after {
  content: " ";
  background-color: #767676;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  left: 0;
  top: 0;
}
.has-gray-background-color.wp-block-button__link {
  border: 2px solid #767676;
}
.has-gray-background-color a[href^="tel:"] {
  color: #555;
}
.has-gray-background-color .is-style-border-left {
  border-color: #fff;
}

.has-gray-dark-color {
  color: #444;
}
.has-gray-dark-color h1, .has-gray-dark-color h2, .has-gray-dark-color h3, .has-gray-dark-color h4, .has-gray-dark-color h5, .has-gray-dark-color h6 {
  color: #444;
}

.is-style-outline .has-gray-dark-color {
  border-color: #444 !important;
}
.is-style-outline .has-gray-dark-color:hover {
  background-color: #444 !important;
}

.has-gray-dark-background-color {
  background-color: #444;
  position: relative;
}
.has-gray-dark-background-color.section:after {
  content: " ";
  background-color: #444;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  left: 0;
  top: 0;
}
.has-gray-dark-background-color.wp-block-button__link {
  border: 2px solid #444;
}
.has-gray-dark-background-color a[href^="tel:"] {
  color: #555;
}
.has-gray-dark-background-color .is-style-border-left {
  border-color: #fff;
}

.has-transparent-color {
  color: transparent;
}
.has-transparent-color h1, .has-transparent-color h2, .has-transparent-color h3, .has-transparent-color h4, .has-transparent-color h5, .has-transparent-color h6 {
  color: transparent;
}

.is-style-outline .has-transparent-color {
  border-color: transparent !important;
}
.is-style-outline .has-transparent-color:hover {
  background-color: transparent !important;
}

.has-transparent-background-color {
  background-color: transparent;
  position: relative;
}
.has-transparent-background-color.section:after {
  content: " ";
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  left: 0;
  top: 0;
}
.has-transparent-background-color.wp-block-button__link {
  border: 2px solid transparent;
}
.has-transparent-background-color a[href^="tel:"] {
  color: #555;
}
.has-transparent-background-color .is-style-border-left {
  border-color: #fff;
}

/* Width of "wide" blocks */
.wp-block[data-align=wide] {
  max-width: 90%;
}

/* Width of "full-wide" blocks */
.wp-block[data-align=full] {
  max-width: 100%;
  margin: 0 !important;
}

.block-editor-writing-flow__click-redirect {
  min-height: 15vh !important;
}

h1, h2, h3 {
  width: 100%;
  max-width: 1440px;
}

p {
  margin-left: 0 !important;
  width: 100%;
}

.has-text-align-center {
  margin-left: auto !important;
}

.standard-grid, .wp-block-cover__inner-container {
  display: grid;
  gap: 0 1rem !important;
  grid-template-columns: [full-start] calc(50vw - 720px) [main-start] minmax(0, 1fr) [main-end] calc(50vw - 720px) [full-end];
  margin: 0 auto;
}
@media (min-width: 1344px) {
  .standard-grid, .wp-block-cover__inner-container {
    gap: 0 1.5rem;
  }
}

.standard-grid > *, .wp-block-cover__inner-container > * {
  grid-column: main;
}

.r-editior-note {
  display: block;
}

.block-editor-block-list__block.wp-block.is-selected {
  border: 1px dashed #ccc;
}

.wp-block-columns.alignwide {
  margin: 0 auto;
  max-width: 960px;
}

.wp-block[data-align=center] .wp-block-separator {
  margin: 1.5rem auto !important;
}

.wp-block-cover {
  display: relative;
}
.wp-block-cover span {
  width: 100%;
  height: 100%;
  position: absolute;
}
.wp-block-cover .wp-block-cover__inner-container {
  width: 100% !important;
}

.standard-grid .wp-block-cover .wp-block-cover__inner-container {
  grid-template-columns: [full-start] 0.5rem [main-start] minmax(0, 1fr) [main-end] 0.5rem [full-end];
}

.wp-block .wp-block-column .wp-block-column {
  margin: 0 auto !important;
}

.wp-block-columns {
  max-width: 100%;
}

.wp-block:not([data-align=center]) hr.wp-block-separator {
  margin-left: 0;
}
.wp-block hr.wp-block-separator {
  margin: 2.5rem 0;
}

.wp-block-post-title a {
  text-decoration: none;
}

.is-reusable {
  max-width: none !important;
}

.wp-block-acf-share-page {
  margin: 0 !important;
}
