/*
  Modern CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box; }

* {
  margin: 0; }

html, body {
  height: 100%;
  -webkit-text-size-adjust: none; }

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; }

input, button, textarea, select {
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none; }

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; }

#root, #__next {
  isolation: isolate; }

/* SCSS Framework boilerplate from Ristretto: https://github.com/kylelarkin/ristretto */
* {
  box-sizing: border-box; }

body, select, input, textarea {
  color: #333; }

::-moz-selection {
  background: #ccc;
  color: #000;
  text-shadow: none; }

::selection {
  background: #ccc;
  color: #000;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: transparent; }

ins {
  background-color: #ccc;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ccc;
  color: #000;
  font-style: italic;
  font-weight: bold; }

body {
  color: #555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.5; }

a {
  color: #333; }
  a:hover, a:focus {
    color: #000; }
  nav a {
    text-decoration: none; }
    nav a:hover, nav a:active {
      text-decoration: none; }

h1 {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 1.2;
  margin-bottom: 1rem; }
  @media (min-width: 320px) {
    h1 {
      font-size: calc(24px + 22 * (100vw - 320px) / 960); } }
  @media (min-width: 1280px) {
    h1 {
      font-size: 46px; } }
h2 {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-transform: uppercase; }
  @media (min-width: 320px) {
    h2 {
      font-size: calc(21px + 15 * (100vw - 320px) / 960); } }
  @media (min-width: 1280px) {
    h2 {
      font-size: 36px; } }
h3 {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 2.5rem; }
  @media (min-width: 320px) {
    h3 {
      font-size: calc(18px + 10 * (100vw - 320px) / 960); } }
  @media (min-width: 1280px) {
    h3 {
      font-size: 28px; } }
h4 {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.3; }

h5 {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.3; }

h6 {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.3; }

p {
  font-size: 17px;
  line-height: 1.4;
  margin: 0 0 1em 0;
  max-width: 65rem; }
  @media (min-width: 320px) {
    p {
      font-size: calc(17px + 3 * (100vw - 320px) / 960); } }
  @media (min-width: 1280px) {
    p {
      font-size: 20px; } }
em, i {
  font-style: italic; }
  em strong, em b, i strong, i b {
    font-style: italic; }

strong, b {
  font-weight: bold; }
  strong em, strong i, b em, b i {
    font-weight: bold; }

ol {
  margin: 1em 0 1em 1.25em; }

ul {
  list-style: disc;
  margin: 1em 0 1em 1.1em; }
  nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
    nav ul a {
      text-decoration: none; }

#tinymce {
  padding: 10px 16px; }
