/*
  Modern CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* SCSS Framework boilerplate from Ristretto: https://github.com/kylelarkin/ristretto */
* {
  box-sizing: border-box;
}

body, select, input, textarea {
  color: #333;
}

::-moz-selection {
  background: #00ABB3;
  color: #000;
  text-shadow: none;
}

::selection {
  background: #00ABB3;
  color: #000;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: transparent;
}

body:not(.wp-admin) {
  font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  font-display: swap;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

div.facetwp-facet {
  margin: 0;
}
div.facetwp-facet input, div.facetwp-facet select {
  border: 2px solid #f2f2f2;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  width: 100%;
  height: 44px;
  transition: all 0.25s ease;
  -webkit-appearance: none;
}
div.facetwp-facet input:focus, div.facetwp-facet select:focus {
  outline: 0;
  background-color: #f2f2f2;
}
div.facetwp-facet input::-moz-placeholder {
  font-size: 0.9375rem;
  color: #767676;
  letter-spacing: 0.45px;
}
div.facetwp-facet select, div.facetwp-facet input::placeholder {
  font-size: 0.9375rem;
  color: #767676;
  letter-spacing: 0.45px;
}
div.facetwp-facet.facetwp-type-pager {
  margin: 4.5rem 0 0;
  display: flex;
  justify-content: center;
}
div.facetwp-facet.facetwp-type-pager button.facetwp-load-more.facetwpwp-hidden {
  display: none !important;
}
div.facetwp-facet.facetwp-type-pager .facetwp-input-wrap {
  display: block;
  width: 100%;
  position: relative;
}
div.facetwp-facet.facetwp-facet-search {
  position: relative;
}
div.facetwp-facet.facetwp-facet-search span.facetwp-input-wrap {
  width: 100%;
}
div.facetwp-facet.facetwp-facet-search .facetwp-icon {
  position: absolute;
  right: 1rem;
  top: 0.66rem;
  opacity: 1;
  font-size: 1.125rem;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
div.facetwp-facet.facetwp-facet-search .facetwp-icon.f-loading:before {
  animation: rotation 2s infinite linear !important;
  content: "\f110";
}
div.facetwp-facet.facetwp-facet-search .facetwp-icon:before {
  transition: all 250ms ease-in-out;
  content: "\f002";
  font: var(--fa-font-solid);
  display: none;
}
div.facetwp-facet.facetwp-facet-search .facetwp-icon svg {
  color: #00ABB3;
}
div.facetwp-facet.facetwp-facet-search input {
  border-radius: 24px;
}
div.facetwp-facet.facetwp-type-dropdown {
  -webkit-font-smoothing: antialiased;
  position: relative;
}
div.facetwp-facet.facetwp-type-dropdown:after {
  transition: all 250ms ease-in-out;
  color: #767676;
  content: "\f0d7";
  font: var(--fa-font-solid);
  display: none;
}
div.facetwp-facet.facetwp-type-dropdown svg {
  color: #767676;
  position: absolute;
  right: 1rem;
  top: 0.8rem;
  pointer-events: none;
}

p + .facetwp-facet {
  margin-top: -12px;
}

body.login div#login h1 a {
  background: url("../img/wp-login-logo-ristretto.png") no-repeat 0 0;
  background-size: contain;
  margin: 0 0 0 23px;
  width: 274px;
}
.menu-button {
  top: 24px;
}
@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button .menu-toggle {
  background: transparent;
  border: none;
  display: block;
  height: 48px;
  padding-left: 14px;
  position: relative;
  text-align: left;
  width: 48px;
  transition: all 0.25s ease-out;
  z-index: 100;
  top: -8px;
}
.menu-button .menu-toggle:hover, .menu-button .menu-toggle:active, .menu-button .menu-toggle:focus {
  background: rgba(255, 255, 255, 0.25);
  border: none;
  outline: none;
}
.menu-button .menu-toggle .menu-button {
  transform: translateY(-1px);
}
.menu-button .menu-toggle .menu-button, .menu-button .menu-toggle .menu-button:before, .menu-button .menu-toggle .menu-button:after {
  background: #fff;
  content: "";
  cursor: pointer;
  display: block;
  height: 2px;
  position: absolute;
  width: 20px;
}
.menu-button .menu-toggle .menu-button:before {
  top: -7px;
}
.menu-button .menu-toggle .menu-button:after {
  bottom: -7px;
}
.menu-button .menu-toggle .menu-button, .menu-button .menu-toggle .menu-button:before, .menu-button .menu-toggle .menu-button:after {
  transition: all 0.25s ease-out;
}
.menu-button .menu-toggle.active .menu-button {
  background-color: transparent;
}
.menu-button .menu-toggle.active .menu-button:before, .menu-button .menu-toggle.active .menu-button:after {
  top: 0;
}
.menu-button .menu-toggle.active .menu-button:before {
  transform: rotate(45deg);
}
.menu-button .menu-toggle.active .menu-button:after {
  transform: rotate(-45deg);
}

.post-nav {
  border-top: 1px solid #f2f2f2;
  font-family: "roc-grotesk-condensed", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-top: 3rem;
  padding-top: 1rem;
  text-transform: uppercase;
}
.post-nav::after {
  clear: both;
  content: "";
  display: block;
}
.post-nav a {
  border: none;
  font-family: "roc-grotesk-condensed", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.post-nav .previous-post {
  float: left;
}
.post-nav .next-post {
  float: right;
}
.post-nav .fa {
  color: #00ABB3;
  position: relative;
  top: 0px;
  right: -2px;
}
.post-nav .fa.fa-caret-left {
  right: 0;
  left: -2px;
}

form.searchform {
  transition: all 250ms ease-in-out;
  padding: 0 1.5rem;
  position: relative;
}
@media (min-width: 768px) {
  form.searchform {
    border: 1px solid transparent;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 100%;
    max-height: 0;
  }
  form.searchform.search-open {
    max-height: 50px;
    top: calc(100% + 1rem);
  }
}
form.searchform svg {
  display: none;
}
form.searchform:before {
  content: "\f002";
  font: var(--fa-font-solid);
  color: #fff;
  position: absolute;
  left: 2.375rem;
  top: 0.625rem;
  font-size: 0.875rem;
  pointer-events: none;
}
@media (min-width: 768px) {
  form.searchform:before {
    left: 0.75rem;
    top: 0.59375rem;
  }
}
form.searchform input.search-input {
  transition: all 250ms ease-in-out;
  background: transparent;
  border-radius: 1.5rem;
  border: 1px solid #fff;
  color: #fff;
  font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
  letter-spacing: 0.7px;
  padding: 0.25rem 2.25rem;
}
@media (min-width: 768px) {
  form.searchform input.search-input {
    padding: 0.25rem 0 0.25rem 2rem;
    background-color: rgba(89, 154, 255, 0.3);
    width: 330px;
  }
}
form.searchform input.search-input:focus {
  border: 1px solid #00ABB3;
  outline: 0;
}
form.searchform #search-close {
  display: none;
}

.social-sharing {
  display: flex;
  gap: 1rem;
}
.social-sharing a {
  text-decoration: none;
  position: relative;
  transition: all 0.25s ease-in-out;
}
.social-sharing a:hover {
  margin-top: -2px;
}
.social-sharing a path {
  color: #fff;
}

.wp-block-embed {
  clear: both;
}

@media (max-width: 767px) {
  .wp-block-columns.is-layout-flex {
    display: grid !important;
  }
}

.wp-block-media-text.alignfull {
  gap: 3rem;
}
.wp-block-media-text.alignfull .wp-block-media-text__content {
  padding: 0 1.5rem;
}
@media (min-width: 600px) {
  .wp-block-media-text.alignfull .wp-block-media-text__content {
    padding-top: 3rem;
  }
}
@media (min-width: 1344px) {
  .wp-block-media-text.alignfull .wp-block-media-text__content {
    padding: 3rem 0 0;
  }
}
@media (min-width: 1344px) {
  .wp-block-media-text.alignfull:not(.has-media-on-the-right) .wp-block-media-text__content {
    margin-right: calc(50vw - 720px);
  }
}
@media (min-width: 1344px) {
  .wp-block-media-text.alignfull.has-media-on-the-right .wp-block-media-text__content {
    margin-left: calc(50vw - 720px);
  }
}

@view-transition {
  navigation: auto;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.r-editor-note {
  display: none;
}

.visually-hidden {
  background-color: #444;
  font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 20px;
  letter-spacing: 0.05em;
  padding: 0.125rem 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
  border-bottom: 1px solid #333;
}
.visually-hidden:focus {
  height: auto;
  width: 100%;
  position: static;
  margin: auto;
  color: #fff;
}

.body--wrapper .alignfull + .alignfull {
  margin-block-start: 0;
}

footer.body--footer {
  margin-top: auto;
}
footer.body--footer::after {
  clear: both;
  content: "";
  display: block;
}

header.body--header::after {
  clear: both;
  content: "";
  display: block;
}
header.body--header .searchform {
  display: none;
}
@media (max-width: 767px) {
  header.body--header nav.nav--secondary ul.menu {
    max-height: 0;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
  }
  header.body--header nav.nav--secondary ul.menu.nav-open {
    max-height: 1000px;
  }
}
@media (min-width: 768px) {
  header.body--header nav.nav--secondary ul.menu {
    display: flex;
  }
}
@media (min-width: 768px) {
  header.body--header nav.nav--secondary ul.menu li {
    padding-right: 2rem;
  }
}
header.body--header nav.nav--primary ul.menu {
  max-height: 0;
  overflow: hidden;
  transform-origin: top;
  transition: all 0.66s ease-in-out;
}
@media (min-width: 768px) {
  header.body--header nav.nav--primary ul.menu {
    display: flex;
  }
}
header.body--header nav.nav--primary ul.menu.open-sub-menu {
  max-height: 500px;
}
header.body--header nav.nav--primary ul.menu li {
  font-family: "roc-grotesk-condensed", Helvetica, Arial, sans-serif;
  font-size: 1.0625rem;
  font-weight: 400;
  letter-spacing: 3%;
  line-height: 1.25;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  header.body--header nav.nav--primary ul.menu li {
    padding-right: 2rem;
  }
}
body.error404 {
  background-color: rgba(38, 76, 136, 0.9);
  position: relative;
}
body.error404:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 185px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: right bottom;
  mix-blend-mode: multiply;
  background-repeat: no-repeat;
}
body.error404 main {
  z-index: 10;
  position: relative;
  margin-bottom: 8rem;
  margin-top: 16rem;
}
body.error404 main h1 {
  color: #fff;
  margin-bottom: 3rem;
}
body.error404 main p {
  color: #fff;
}
body.error404 main .search-form {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: center;
  align-items: center;
  max-width: 58rem;
}
body.error404 main .search-form label {
  position: relative;
  z-index: 0;
}
body.error404 main .search-form input.search-bar-input {
  font-size: 1rem;
  color: #818181;
  letter-spacing: 0.16px;
  border: 2px solid transparent;
  padding-left: 1.5rem;
  height: 44px !important;
  width: 100%;
}
body.error404 main .search-form input.search-bar-input::-moz-placeholder {
  font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  font-style: italic;
  font-weight: 300;
  font-size: 1.0625rem;
}
body.error404 main .search-form input.search-bar-input::placeholder {
  font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  font-style: italic;
  font-weight: 300;
  font-size: 1.0625rem;
}
body.error404 main .search-form input.search-bar-input:focus {
  outline: none;
}
body.error404 main .search-form input.search-submit {
  font-family: "roc-grotesk-condensed", Helvetica, Arial, sans-serif;
  height: 100%;
  border: 0;
  font-size: 0.8125rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0 1.6rem;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 250ms ease-in-out;
}
body.error404 main .search-form input.search-submit:hover {
  filter: brightness(110%);
}

body.search .search-background {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
body.search .search-background::before {
  background-color: #202F65 !important;
  mix-blend-mode: multiply;
  opacity: 0.85 !important;
  content: " ";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
body.search .search-background picture {
  height: 100%;
  width: 100%;
}
body.search .search-background picture img {
  -o-object-position: center right;
     object-position: center right;
  width: 100%;
  height: 100%;
  filter: sepia(100%);
}
body.search .search-intro {
  display: grid;
  gap: 1rem;
  margin: 16rem 0 5rem;
}
body.search .search-intro h1 {
  color: #fff;
}
body.search .search-intro p {
  color: #fff;
  text-transform: uppercase;
  font-family: "roc-grotesk-condensed", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 0.5px;
}
body.search .search-intro .search-page-search-form {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: center;
  align-items: center;
  max-width: 58rem;
}
body.search .search-intro .search-page-search-form input.search-bar-input {
  font-size: 1rem;
  color: #818181;
  letter-spacing: 0.16px;
  border: 2px solid transparent;
  padding-left: 1.5rem;
  height: 44px !important;
  width: 100%;
}
body.search .search-intro .search-page-search-form input.search-bar-input::-moz-placeholder {
  font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  font-style: italic;
  font-weight: 300;
  font-size: 1.0625rem;
}
body.search .search-intro .search-page-search-form input.search-bar-input::placeholder {
  font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  font-style: italic;
  font-weight: 300;
  font-size: 1.0625rem;
}
body.search .search-intro .search-page-search-form input.search-bar-input:focus {
  outline: none;
}
body.search .search-intro .search-page-search-form input.search-submit {
  font-family: "roc-grotesk-condensed", Helvetica, Arial, sans-serif;
  height: 100%;
  border: 0;
  font-size: 0.8125rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0 1.6rem;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 250ms ease-in-out;
}
body.search .search-intro .search-page-search-form input.search-submit:hover {
  filter: brightness(110%);
}
body.search .search-result {
  background: #fff;
  display: grid;
  gap: 1.5rem;
  margin-bottom: 2rem;
  max-width: 58rem;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
}
@media (min-width: 768px) {
  body.search .search-result {
    padding: 2.5rem 2.1875rem;
  }
}
body.search .search-result .post-type {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
body.search .search-result a {
  text-decoration: none;
}
body.search .search-result h2 {
  font-size: 22px;
  margin-bottom: 1rem;
  margin: 0;
  text-transform: uppercase;
  transition: all 0.25s ease-out;
}
@media (min-width: 320px) {
  body.search .search-result h2 {
    font-size: calc(22px + 4 * (100vw - 320px) / 960);
  }
}
@media (min-width: 1280px) {
  body.search .search-result h2 {
    font-size: 26px;
  }
}
body.search .search-result .excerpt {
  font-size: 1.25rem;
}
body.search nav.single-post-nav {
  display: flex;
  justify-content: space-between;
  max-width: 58rem;
  margin: 2rem 0;
}
body.search nav.single-post-nav a {
  color: #fff;
  font-family: "roc-grotesk-condensed", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}
body.search nav.single-post-nav a svg {
  transition: all 250ms ease-in-out;
  position: relative;
  right: 0;
}
body.search nav.single-post-nav .previous-post:hover svg {
  right: 2px;
}
body.search nav.single-post-nav .next-post:hover svg {
  right: -2px;
}
