/* SCSS Framework boilerplate from Ristretto: https://github.com/kylelarkin/ristretto */
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  box-sizing: 'border-box'; }

body, select, input, textarea {
  color: #333; }

::-moz-selection {
  background: #ccc;
  color: #000;
  text-shadow: none; }

::selection {
  background: #ccc;
  color: #000;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #ccc; }

ins {
  background-color: #ccc;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ccc;
  color: #000;
  font-style: italic;
  font-weight: bold; }

body .gform_wrapper {
  max-width: 100%; }
  body .gform_wrapper input[type=text],
  body .gform_wrapper input[type=url],
  body .gform_wrapper input[type=email],
  body .gform_wrapper input[type=tel],
  body .gform_wrapper input[type=number],
  body .gform_wrapper input[type=password],
  body .gform_wrapper textarea {
    border: 1px solid #ccc;
    font-size: 1rem;
    padding: 0.75rem 0.5rem; }
    body .gform_wrapper input[type=text]:focus,
    body .gform_wrapper input[type=url]:focus,
    body .gform_wrapper input[type=email]:focus,
    body .gform_wrapper input[type=tel]:focus,
    body .gform_wrapper input[type=number]:focus,
    body .gform_wrapper input[type=password]:focus,
    body .gform_wrapper textarea:focus {
      border: 1px solid #999;
      background: #f9f9f9; }
  body .gform_wrapper .gfield {
    margin-bottom: 1rem; }
  body .gform_wrapper .top_label .gfield_label, body .gform_wrapper .left_label .gfield_label, body .gform_wrapper .right_label .gfield_label {
    font-size: 0.875rem;
    font-weight: normal;
    margin-bottom: 0;
    color: #555;
    letter-spacing: 1px;
    text-transform: uppercase; }
  body .gform_wrapper .ginput_complex label {
    margin-bottom: 0; }
  body .gform_wrapper label, body .gform_wrapper .instruction, body .gform_wrapper .gfield_required {
    color: #555; }
  body .gform_wrapper .gform_footer {
    margin: 0; }
    body .gform_wrapper .gform_footer input.button,
    body .gform_wrapper .gform_footer input[type=submit] {
      -webkit-appearance: inherit; }
  body .gform_wrapper .gform_footer input.button, body .gform_wrapper .gform_footer input[type=submit] {
    background: #333;
    border: none;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    padding: 1rem 1.25rem;
    outline: 0;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }
    body .gform_wrapper .gform_footer input.button:hover, body .gform_wrapper .gform_footer input.button:active, body .gform_wrapper .gform_footer input[type=submit]:hover, body .gform_wrapper .gform_footer input[type=submit]:active {
      background: #404040; }
  body .gform_wrapper .gform_footer input[type=submit] {
    float: left; }
  body .gform_wrapper .gform_ajax_spinner {
    float: left;
    margin-left: 1rem;
    margin-top: 1.125rem; }
  body .gform_wrapper .validation_error {
    border: none;
    background: #555;
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 1rem;
    text-transform: uppercase; }
  body .gform_wrapper .top_label .gfield_error {
    background: none;
    border: none;
    width: 100%; }
    body .gform_wrapper .top_label .gfield_error textarea.textarea {
      max-width: 100%; }
  body .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
    margin: 0 !important; }
    body .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, body .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
      margin: 0;
      max-width: 100%; }
    body .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
      color: #cc0000;
      letter-spacing: 1px;
      margin: 0;
      margin-bottom: .5rem;
      margin-top: .25rem;
      padding: 0;
      padding-top: 0 !important;
      max-width: 100%;
      text-transform: uppercase; }
      body .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description:before {
        color: #555;
        content: '\f0aa';
        font-family: 'FontAwesome';
        margin-right: .35rem; }
  body .gform_wrapper li.gfield_error input[type=email],
  body .gform_wrapper li.gfield_error input[type=number],
  body .gform_wrapper li.gfield_error input[type=password],
  body .gform_wrapper li.gfield_error input[type=tel],
  body .gform_wrapper li.gfield_error input[type=text],
  body .gform_wrapper li.gfield_error input[type=url],
  body .gform_wrapper li.gfield_error textarea {
    border-color: #cc0000; }

/*
HTML5 Reset ::style.css - via https://github.com/murtaugh/HTML5-Reset/blob/master/_/css/style.css
----------------------------------------------------------
We have learned much from/been inspired by/taken code where offered from:Eric Meyer ::http://ericmeyer.com
HTML5 Doctor ::http://html5doctor.com
and the HTML5 Boilerplate ::http://html5boilerplate.com
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, img, nav, section {
  display: block; }

/* Responsive images and other embedded objects
Note:keeping IMG here will cause problems if you're using foreground images as sprites.
If this default setting for images is causing issues,you might want to replace it with a .responsive class instead. */
img, object, embed {
  max-width: 100%;
  height: auto; }

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
don't forget to restore the bullets within content. */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well,actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.lt-ie7 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

/* Accessible focus treatment
people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

small {
  font-size: 85%; }

em, i {
  font-style: italic; }

strong, th, b {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't screw with your line-heights
gist.github.com/413930 */
sub, sup {
  font-size: 60%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.75em; }

sub {
  bottom: -0.5em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace,sans-serif; }

/* hand cursor on clickable elements */
.clickable, label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.lt-ie8 img {
  -ms-interpolation-mode: bicubic; }

/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

html {
  -webkit-text-size-adjust: none; }

input[type='text'], input[type='submit'], textarea {
  -webkit-appearance: none;
  -moz-appearance: none; }

/* SCSS Framework boilerplate from Ristretto: https://github.com/kylelarkin/ristretto */
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  box-sizing: 'border-box'; }

body, select, input, textarea {
  color: #333; }

::-moz-selection {
  background: #ccc;
  color: #000;
  text-shadow: none; }

::selection {
  background: #ccc;
  color: #000;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #ccc; }

ins {
  background-color: #ccc;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ccc;
  color: #000;
  font-style: italic;
  font-weight: bold; }

body {
  color: #555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.5; }

a {
  color: #333; }
  a:hover, a:focus {
    color: #000; }
  nav a {
    text-decoration: none; }
    nav a:hover, nav a:active {
      text-decoration: none; }

h1 {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.3; }

h2 {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3125rem;
  line-height: 1.3; }

h3 {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.3; }

h4 {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.3; }

h5 {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.3; }

h6 {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.3; }

p {
  font-size: 1rem;
  line-height: 1.4;
  margin: 0 0 1em 0; }

em, i {
  font-style: italic; }
  em strong, em b, i strong, i b {
    font-style: italic; }

strong, b {
  font-weight: bold; }
  strong em, strong i, b em, b i {
    font-weight: bold; }

ol {
  margin: 1em 0 1em 1.25em; }

ul {
  list-style: disc;
  margin: 1em 0 1em 1.1em; }
  nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
    nav ul a {
      text-decoration: none; }

.inner {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem; }
  .inner::after {
    clear: both;
    content: "";
    display: table; }

header.body--header::after {
  clear: both;
  content: "";
  display: table; }

footer.body--footer::after {
  clear: both;
  content: "";
  display: table; }

/*# sourceMappingURL=screen.css.map */