@import "framework/reset";
@import "framework/ristretto";
@import "framework/typography";
@import "framework/variables";
@import "blocks/_wp-block-buttons";


// -------------------------------------------------
// WP color palette
// ---------------------------------------------- */
@include color-palette;


// -------------------------------------------------
// Core Block Helper Styles
// ---------------------------------------------- */
/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: 90%;
}
/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  max-width: 100%;
  margin: 0 !important;
}
.block-editor-writing-flow__click-redirect {
  min-height: 15vh !important;
}

// Core Block Styles
[data-align="right"] {
  figure {
    float: right;
    margin-left: 1.5rem;
    max-width: 50%;
  }
}
[data-align="left"] {
  figure {
    float: left;
    margin-right: 1.5rem;
    max-width: 45%;
  }
}

h1, h2, h3 {
  width: 100%;
  max-width: 1440px;
}

p {
  margin-left: 0 !important;
}

.has-text-align-center {
  margin-left: auto !important;
}

.standard-grid, .wp-block-cover__inner-container {
  display: grid;
  gap: 0 1rem !important;
  grid-template-columns: [full-start] calc(50vw - 720px) [main-start] minmax(0, 1fr) [main-end] calc(50vw - 720px) [full-end];
  margin:0 auto;
  @include grid-media($xl) {
    gap: 0 1.5rem;
  }
}

.standard-grid > *, .wp-block-cover__inner-container > * {
  grid-column: main;
}

//editor note
.r-editior-note {
  display: block;
}

// apply border to 
.block-editor-block-list__block.wp-block.is-selected {
    border: 1px dashed #ccc;
}

.wp-block-columns {
  &.alignwide {
    margin: 0 auto;
    max-width: 960px;
  }
}


// -------------------------------------------------
// Core Block Styles
// ---------------------------------------------- */

  //seperator center styles
  .wp-block[data-align=center] {
    .wp-block-separator {
      margin: 1.5rem auto !important;
    }
  }
  
// -------------------------------------------------
// WP Editor Styles
// ---------------------------------------------- */

.wp-block-post-title a{
  text-decoration: none;
}
.is-reusable {
  max-width: none !important;
}
.wp-block-acf-share-page {
  margin: 0 !important;
}