body{
  display: flex;
  flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.standard-grid {
  display: grid;
	gap: 1rem;
	grid-template-columns: [full-start] calc(50vw - 720px) [main-start] minmax(0, 1fr) [main-end] calc(50vw - 720px) [full-end];
  @include grid-media($xl) {
		gap: 1.5rem;
  }
}

.standard-grid > * {
  grid-column: main;
}