@use '../framework' as *;

body{
  display: flex;
  flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}

// Hide editor notes
.r-editor-note {
	display: none;
}

.visually-hidden {
	background-color: $gray-40;
	font-family: $body-font;
	font-weight: 600;
	font-size: rem(13);
	line-height: 20px;
	letter-spacing: 0.05em;
	padding: .125rem .5rem;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	position: absolute;
	left: -999px;
	width:1px;
	height: 1px;
	top: auto;
	border-bottom: 1px solid $heading-color;
	&:focus {
		height: auto;
		width: 100%;
		position: static;
		margin: auto;
		color: #fff;
	}
}