body{
  display: flex;
  flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}

.standard-grid {
  display: grid;
	gap: 1rem;
	grid-template-columns: [full-start] calc(50vw - 720px) [main-start] minmax(0, 1fr) [main-end] calc(50vw - 720px) [full-end];
  @include grid-media($xl) {
		gap: 1.5rem;
  }
}
 
.standard-grid > * {
  grid-column: main;
}

//hide editor notes
.r-editior-note {
  display: none;
}

/**
* apply custom color pallet
**/
@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}
}
