body{
  display: flex;
  flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}

.standard-grid, #tribe-events-pg-template, .tribe-events {
	display: grid;
	gap: 0 1.5rem;
	grid-template-columns: [full-start] calc(50vw - 720px) [main-start] minmax(0, 1fr) [main-end] calc(50vw - 720px) [full-end];
	@include grid-media($xl) {
		gap: 0 1.5rem ;
	}
	&.tooltipster-base {
		display: block !important;
	}
}
.standard-grid > *, #tribe-events-pg-template > *, .tribe-events > * {
	grid-column: main;
}
 
.alignfull {
	grid-column: full;
}

// Hide editor notes
.r-editor-note {
	display: none;
}

.visually-hidden {
	background-color: $gray-dark;
	font-family: $body-font;
	font-weight: 600;
	font-size: rem(13);
	line-height: 20px;
	letter-spacing: 0.05em;
	padding: .125rem .5rem;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	position: absolute;
	left: -999px;
	width:1px;
	height: 1px;
	top: auto;
	border-bottom: 1px solid $heading-color;
	&:focus {
		height: auto;
		width: 100%;
		position: static;
		margin: auto;
		color: #fff;
	}
}

//pull mixin of sitewide gutenberg color palette 
@include color-palette;