@use '../framework' as *;

header.body--header {
	@include clearfix;

	.searchform{
		display: none;
	}

	nav.nav--secondary {
		ul.menu {
      @include grid-media($pre-nav-only) {
        max-height: 0;
        overflow:hidden;
        transition: all .25s ease-in-out;
        &.nav-open {
          max-height: 1000px;
        }
      }
			@include grid-media($nav) {
				display: flex;
			}
			// Styles for ALL <li>'s and <a>'s
			li {
				@include grid-media($nav) {
					padding-right: 2rem;
				}
				&:hover, &:active {}
				a {
					&:hover, &:active {}
				}
			}
			// Styles for only TOP LEVEL <li>'s and <a>'s
			& > li {
				&:hover, &:active {}
				& > a {
					&:hover, &:active {}
				}
			}
		}
	}

	nav.nav--primary {
		ul.menu {
      max-height: 0;
      overflow: hidden;
      transform-origin: top;
      transition: all .66s ease-in-out;
			@include grid-media($nav) {
				display: flex;
			}
      &.open-sub-menu {
        max-height: 500px;
      }
			// Styles for ALL <li>'s and <a>'s
			li {
				font-family: $heading-font;
				font-size: rem(17);
				font-weight: 400;
				letter-spacing: 3%;
				line-height: 1.25;
				text-transform: uppercase;
				@include grid-media($nav) {
					padding-right: 2rem;
				}
				&:hover, &:active {}
				a {
					&:hover, &:active {}
				}
			}
			// Styles for only TOP LEVEL <li>'s and <a>'s
			& > li {
				&:hover, &:active {}
				& > a {
					&:hover, &:active {}
				}
			}
		}
		ul.sub-menu {
			&.open { 
				max-height: 1000px; 
			}
			// Styles for only CHILD LEVEL <li>'s and <a>'s
			& > li {
				&:hover, &:active {}
				a {
					&:hover, &:active {}
				}
			}
		}
	}
	
	.search-toggle {
		cursor: pointer;
	}
	
	@include grid-media($pre-nav-only) {
		&:has(.nav-open) {
			.searchform {
				opacity: 1;
			}
		}
	}
	.searchform {
		@include grid-media($nav) {
			position: absolute;
			top: 2.5rem;
			right: -1rem;
			z-index: -1;
			&.open {
				opacity: 1;
				z-index: 100;
			}
		}
		#search-close {
			@include grid-media($nav) {
				display: unset;
				cursor: pointer;
			}
		}
	}
}
