@use '../framework' as *;

header.body--header {
	@include clearfix;

	.searchform{
		display: none;
	}

	nav.nav--secondary {
		ul.menu {
			@include grid-media($nav) {
				display: flex;
			}
			// Styles for ALL <li>'s and <a>'s
			li {
				@include grid-media($nav) {
					padding-right: 2rem;
				}
				&:hover, &:active {}
				a {
					&:hover, &:active {}
				}
			}
			// Styles for only TOP LEVEL <li>'s and <a>'s
			& > li {
				&:hover, &:active {}
				& > a {
					&:hover, &:active {}
				}
			}
		}
	}

	nav.nav--primary {
		ul.menu {
			@include grid-media($nav) {
				display: flex;
			}
			// Styles for ALL <li>'s and <a>'s
			li {
				font-family: $heading-font;
				font-size: rem(17);
				font-weight: 400;
				letter-spacing: 3%;
				line-height: 1.25;
				text-transform: uppercase;
				@include grid-media($nav) {
					padding-right: 2rem;
				}
				&:hover, &:active {}
				a {
					&:hover, &:active {}
				}
			}
			// Styles for only TOP LEVEL <li>'s and <a>'s
			& > li {
				&:hover, &:active {}
				& > a {
					&:hover, &:active {}
				}
			}
		}
		ul.sub-menu {
			// Styles for only CHILD LEVEL <li>'s and <a>'s
			& > li {
				&:hover, &:active {}
				a {
					&:hover, &:active {}
				}
			}
		}
	}
}
