
@import '../framework/variables';

body.login {
  background: $primary;
  div#login h1 a {
      background: url('../img/wp-login-logo-ristretto.png') no-repeat 0 0;
      background-size: contain;
      margin: 0 0 0 23px;
      width: 274px;
  }
  
  #nav, #backtoblog {
    a {
      color: #fff;
    }
  }
  
}