.post-nav {
	border-top: 1px solid $gray-light;
	font-family: $heading-font;
	font-size: rem(14);
	letter-spacing: 1px;
	margin-top: 3rem;
	padding-top: 1rem;
	text-transform: uppercase;
	@include clearfix;
	a {
		border: none;
		font-family: $heading-font;
		font-weight: 600;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.previous-post {
		float: left;
	}
	.next-post {
		float: right;
	}
	.fa {
		color: $button-color;
		position: relative;
		top: 0px;
		right: -2px;
		&.fa-caret-left {
			right: 0;
			left: -2px;
		}
	}
}
