.social-sharing {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
  
  a {
    align-items: center;
    border-radius: 100%;
    display: grid;
    font-size: rem(21);
    height: 31.5px;
    // justify-content: center;
    // justify-items: center;
    // align-items: center;
    // align-content: center;
    text-decoration: none;
    transition: all .25s ease;
    width: 31.5px;
    @include grid-media($nav-small) {
      height: 44px;
      width: 44px;
      justify-content: center;
    }
    &:hover, &:focus {
      @include grid-media($nav-small) {
        background-color: rgba(205, 93, 187, 0.5);
        outline: 0;

      }
    }
  }
}