@use '../sass/framework' as *;

.editor-styles-wrapper .block-social-sharing, .block-social-sharing {
  display: flex;
  gap: 1rem;
  a {
    text-decoration: none;
    position: relative;
    transition: all .25s ease-in-out;
    &:hover {
      margin-top: -2px;
    }
    path {
      color: #fff;
    }
  }
}
