div.wp-block-buttons {
  div.wp-block-button {
    .wp-block-button__link {
      //default if text and background has not been changed
      &:not(.has-text-color) {
        $default: nth( nth( $colors, 1 ), 2 ); // first color in $colors array
        color: $default;
      }
      &:not(.has-background) {
        $defaultbg: nth( nth( $colors, 2 ), 2 ); // second color in $colors array
        background-color: $defaultbg;
      }
    }
    &.is-style-outline {
      .wp-block-button__link {
        &:not(.has-text-color) {
          $default: nth( nth( $colors, 1 ), 2 ); // first color in $colors array
          color: $default;
          border-color: $default;
        }
        &:not(.has-background-color) {
          background: transparent;
        }
      }
    }
  }
}