.wp-block-table {
  margin: 1rem 0;
  
  &.is-style-stripes {
    tbody tr:nth-child(odd) {
      background: $gray-light;
    }
    td {
      border: 1px solid $gray-light;
    }
    tfoot td {
      border-top: 2px solid $gray-dark;
    }
  }
  
  table {
    border: 1px solid darken($gray-light, 5%);
  }
  th {
    background: darken($gray-light, 5%);
    padding: .5rem;
    text-align: left;
  }
  td {
    border: 1px solid $gray-light;
    @include fluid-type(font-size, 320px, 1280px, 17px, 20px);
    padding: .5rem;
  }
  tfoot td {
    border-top: 2px solid $gray-dark;
  }
}