.wp-block-pullquote {
  @include fluid-unit(margin-top, 320px, 1280px, 23px, 38px);
  @include fluid-unit(margin-bottom, 320px, 1280px, 24px, 37px);
  padding: 0;
  @include maxwidth;
  blockquote {
    border-top: 3px solid $gray40;
    border-bottom: 2px solid #ddd;
    @include fluid-unit(padding-top, 320px, 1280px, 48px, 31px);
    p {
      @include fluid-unit(font-size, 320px, 1280px, 30px, 46px);
      @include fluid-unit(padding-left, 320px, 1280px, 55px, 80px);
      color: $red20;
      font-family: $heading-font;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 1.26;
      position: relative;
      text-align: left;
      text-transform: uppercase;
      z-index: 10;
      &:before {
        content: url(../img/start-quote.svg);
        left: 0;
        position: absolute;
        z-index: -1;
      }
    }
    cite {
      text-align: left;
    }
  }
}