@import '../../sass/framework/ristretto';
@import '../../sass/framework/variables';
@import '../../sass/framework/mixins';
@import '../../sass/framework/grid';

.section {
  grid-column: full;
  padding: 2rem 0 2rem 0;
  position: relative;
  z-index: 1;
  @include grid-media($medium) {
    scroll-margin-top: 109px;
    padding: 3.8rem 0;
  }
  &.parallax {
    background-attachment: fixed;
    background-size: 200%;
  }

  &.remove-padding {
    padding: 0 !important;
    p {
      &:last-child {
        margin: 0;
      }
    }
  }
  &.border-top {
    border-top: 2px solid white;
    padding-top: 23px !important;
  }
  &.border-bottom {
    border-bottom: 2px solid white;
    padding-bottom: 23px !important;
  }
  &.border-left {
    border-left: 2px solid white;
    padding-left: 23px !important;
  }
  &.border-right {
    border-right: 2px solid white;
    padding-right: 23px !important;
  }


  &.header-section {
    padding-top: 215px !important;
    @include grid-media($medium) {
      padding-top: 260p !important;
    }
  }
  //remove margin from last column in section
  .section-inner {
    .wp-block-columns {
      &:last-child {
        margin-bottom: 0;
      }
    }
    //remove margin top from h2 and h3 if they are the first item in the block
    & > h2, & > h3 {
      &:first-child {
        margin-top: 0;
      }
    }
  }
  
  .two-columns {
    display: grid;
    gap: 1.5rem;
    @include grid-media($medium) {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
    }
  }
  
  .three-columns {
    display: grid;
    gap: 1.5rem;
    @include grid-media($medium) {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
    }
    @include grid-media($large) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  .four-columns {
    display: grid;
    gap: 1.5rem;
    @include grid-media($medium) {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
    }
    @include grid-media($large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  * {
    z-index: 10;
  }
  

  &:not(.has-background) {
    background-color: transparent !important;
  }
  
  #jarallax-container-0, #jarallax-container-1, #jarallax-container-2, #jarallax-container-3, #jarallax-container-4, #jarallax-container-5, #jarallax-container-6 {
    grid-column: full;
  }

  .slider-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 8000px;
    width: 100%;
  }
}

.section .section {
  display: flex;
  padding: 1.5rem;
  @include grid-media($medium) {
    padding: 3rem;
  }
  .section-inner {
    flex-grow: 1;
  }
}

.fancy + .section {
  &:before {
    opacity: 15;
  }
}

// -------------------------------------------------
// Editor Specific Style Overrides
// ---------------------------------------------- */
.editor-styles-wrapper {
  .section {
    padding: 4.3rem 0 3.3rem 0;
    grid-template-columns: [full-start] calc(50vw - 820px) [main-start] minmax(0, 1fr) [main-end] calc(50vw - 820px) [full-end];
  }
  
  .section-inner {
    // grid-template-columns: 1fr !important;
  }
  
  .two-columns > .block-editor-inner-blocks .block-editor-block-list__layout {
    display: grid;
    gap: 1.5rem;
    @include grid-media($medium) {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
    }
  }
  
  .three-columns > .block-editor-inner-blocks .block-editor-block-list__layout {
    display: grid;
    gap: 1.5rem;
    @include grid-media($medium) {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
    }
    @include grid-media($large) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  .four-columns > .block-editor-inner-blocks .block-editor-block-list__layout {
    display: grid;
    gap: 1.5rem;
    @include grid-media($medium) {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
    }
    @include grid-media($large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .section .section {
    display: flex;
    padding: 1.5rem;
    @include grid-media($medium) {
      padding: 3rem;
    }
    .section-inner {
      flex-grow: 1;
    }
  }


}