/* SCSS Framework boilerplate from Ristretto: https://github.com/kylelarkin/ristretto */
* {
  box-sizing: border-box;
}

body, select, input, textarea {
  color: #333;
}

::-moz-selection {
  background: #ccc;
  color: #000;
  text-shadow: none;
}

::selection {
  background: #ccc;
  color: #000;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: transparent;
}

ins {
  background-color: #ccc;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ccc;
  color: #000;
  font-style: normal;
  font-weight: bold;
}

/***
*
* Headings
*
***/
/***
*
* Paragraphs
*
***/
/***
*
* Blocks and Components
*
***/
/***
*
* WooCommerce Specific
*
***/
/***
*
* Base Mixins
*
***/
/***
*
* Headings
*
***/
/***
*
* Paragraphs
*
***/
/***
*
* Blocks and Components
*
***/
/***
*
* WooCommerce Specific
*
***/
/***
*
* Base Mixins
*
***/
a.card {
  background-image: none;
  display: inline-block;
  position: relative;
  z-index: 100;
  overflow: hidden;
}
a.card:after {
  display: none;
}
a.card:before {
  background-color: #fff;
  bottom: -41px;
  -webkit-clip-path: url(#wave);
          clip-path: url(#wave);
  content: "";
  height: 40px;
  left: -50px;
  position: absolute;
  width: 1440px;
  z-index: -1;
  transition: all 0.5s ease-in;
}
a.card:after {
  background-color: #fff;
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  display: block !important;
  top: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.5s ease-in;
}
a.card:hover, a.card:focus-within, a.card:focus {
  background-color: #fff;
}
a.card:hover:before, a.card:focus-within:before, a.card:focus:before {
  background-color: #EDF7FD;
  bottom: 100%;
  left: -2px;
}
a.card:hover:after, a.card:focus-within:after, a.card:focus:after {
  top: 0;
  background-color: #EDF7FD;
}
a.card:hover {
  border-color: #EDF7FD;
}
a.card:focus {
  border-color: #0485BD;
  outline: 0;
  border-radius: 0;
}

.card, .editor-styles-wrapper .card {
  border: 2px solid #f2f2f2;
  grid-column: revert !important;
  padding: 1rem;
}
.card h2, .editor-styles-wrapper .card h2 {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.32px;
}
.card p, .editor-styles-wrapper .card p {
  font-size: 0.8125rem;
}
.card.is-style-image, .editor-styles-wrapper .card.is-style-image {
  background-image: none;
  display: inline-block;
  transition: all 250ms ease-in-out;
  border-color: transparent;
  display: block;
  padding: 0;
}
.card.is-style-image:after, .editor-styles-wrapper .card.is-style-image:after {
  display: none;
}
.card.is-style-image:focus, .editor-styles-wrapper .card.is-style-image:focus {
  border-color: #EDF7FD;
}
.card.is-style-image:hover, .editor-styles-wrapper .card.is-style-image:hover {
  border-color: transparent;
}
.card.is-style-image:hover figure img, .editor-styles-wrapper .card.is-style-image:hover figure img {
  opacity: 0.8;
}
.card.is-style-image:after, .editor-styles-wrapper .card.is-style-image:after {
  display: none !important;
}
.card.is-style-image:before, .editor-styles-wrapper .card.is-style-image:before {
  display: none !important;
}
.card.is-style-image figure, .editor-styles-wrapper .card.is-style-image figure {
  transition: all 250ms ease-in-out;
  max-width: 250px;
  margin: 0 auto;
  padding: 1rem;
}
.card.is-style-image figure img, .editor-styles-wrapper .card.is-style-image figure img {
  transition: all 250ms ease-in-out;
}
.card.is-style-image span, .editor-styles-wrapper .card.is-style-image span {
  transition: all 250ms ease-in-out;
}

.editor-styles-wrapper .card {
  max-width: 100%;
}
.editor-styles-wrapper .card figure {
  max-width: 100%;
}
.editor-styles-wrapper .card figure img {
  max-width: 100%;
}
