@import '../../sass/framework/ristretto';
@import '../../sass/framework/variables';
@import '../../sass/framework/mixins';
@import '../../sass/framework/grid';

a.card {
 
}

.editor-styles-wrapper .card {
  max-width: 100%;
  figure {
    max-width: 100%;
    img {
      max-width: 100%;
    }
  }
}