// Setup Breakpoints
$v-small-breakpoint: 375px;
$small-breakpoint:  580px;
$medium-breakpoint: 768px;
$large-breakpoint:  1024px;
$xl-breakpoint: 1344px;
$nav-small-breakpoint: 640px;
$nav-breakpoint: 768px;
$col-breakpoint: 600px;

$v-small:         '(min-width: #{$v-small-breakpoint})';
$pre-small-only:  '(max-width: #{$small-breakpoint - 1})';
$pre-nav-only:    '(max-width: #{$nav-breakpoint - 1})';
$small:           '(min-width: #{$small-breakpoint})';
$small-only:      '(min-width: #{$small-breakpoint}) and (max-width: #{$medium-breakpoint - 1} )';
$small-medium:    '(min-width: #{$small-breakpoint}) and (max-width: #{$large-breakpoint - 1} )';
$pre-medium-only: '(max-width: #{$medium-breakpoint - 1})';
$pre-nav-only:    '(max-width: #{$nav-breakpoint - 1})';
$nav:             '(min-width: #{$nav-breakpoint})';
$nav-small:       '(min-width: #{$nav-small-breakpoint})';
$medium:          '(min-width: #{$medium-breakpoint})';
$medium-only:     '(min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint - 1} )';
$pre-large-only:  '(max-width: #{$large-breakpoint - 1})' ;
$large:           '(min-width: #{$large-breakpoint})';
$xl:              '(min-width: #{$xl-breakpoint})';
$col:              '(min-width: #{$col-breakpoint})';