// -------------------------------------------------
// Ristretto Typography + Standard Element Defaults
// ---------------------------------------------- */
body {
	color: $body-color;
	font-family: $body-font;
	font-size: 100%;
	font-weight: normal;
	line-height: 1.5;
}
a {
	color: $link-color;

	&:hover, &:focus {
		color: $link-hover;
	}
	nav & {
		text-decoration: none;

		&:hover, &:active {
			text-decoration: none;
		}
	}
}
h1 {
	color: $heading-color;
	font-family: $heading-font;
	font-size: 1.5rem;    // ~24px
	line-height: 1.3;
	// margin: (16em / 24) 0;
}
h2 {
	color: $heading-color;
	font-family: $heading-font;
	font-size: 1.3125rem; // ~21px
	line-height: 1.3;
	// margin: (16em / 21) 0;
}
h3 {
	color: $heading-color;
	font-family: $heading-font;
	font-size: 1.125rem;  // ~18px
	line-height: 1.3;
	// margin: (16em / 18) 0;
}
h4 {
	color: $heading-color;
	font-family: $heading-font;
	font-size: 1rem;      // ~14px
	line-height: 1.3;
	// margin: (16em / 14) 0;
}
h5 {
	color: $heading-color;
	font-family: $heading-font;
	font-size: 1rem;      // ~14px
	line-height: 1.3;
	// margin: (16em / 14) 0;
}
h6 {
	color: $heading-color;
	font-family: $heading-font;
	font-size: 0.875rem;  // ~14px
	line-height: 1.3;
	// margin: (16em / 14) 0;
}
p {
	font-size: 1rem;		 // ~16px
	line-height: 1.4;
	margin: 0 0 1em 0;
}
em, i {
	font-style: italic;
	strong, b {
		font-style: italic;
	}
}
strong, b {
	font-weight: bold;
	em, i {
		font-weight: bold;
	}
}
ol {
	margin: 1em 0 1em 1.25em;
}
ul {
	list-style: disc;
	margin: 1em 0 1em 1.1em;

	// remove styling for nav ul's
	nav & {
		@include ul-reset;
		a { text-decoration: none; }
	}
}