@use 'grid' as *;
@use 'variables' as *;
@use 'ristretto' as *;

// -------------------------------------------------
// Ristretto Typography + Standard Element Defaults
// ---------------------------------------------- */
body {
  font-family: $body-font;
  font-size: 100%;
  line-height: 1.5;
  font-display: swap;
}

nav ul {
  @include ul-reset;
}