// -------------------------------------------------
// Ristretto Variables
// ---------------------------------------------- */
$heading-font: Helvetica, Arial, sans-serif;
$body-font: Helvetica, Arial, sans-serif;

$gray-light: #f2f2f2;
$gray: #ccc;
$gray-dark: #999;

$green: #9ee500;
$pink: #ec008b;

$body-color: #555;
$heading-color: #333;
$warning-color: red;
$highlight-color: #ccc;
$link-color: #333;
$link-hover: #000;

$label-color: $body-color;
$button-color: $link-color;

$ani_speed: 250ms;

$colors: (
  'white': #ffffff, //this should be the default button text & border color
  'black': #000000, //this should be the default background color of button
  'gray-light': $gray-light,  
  'gray': $gray,
  'gray-dark': $gray-dark,
  'transparent': transparent,
);