// -------------------------------------------------
// Ristretto Variables
// ---------------------------------------------- */
$heading-font: Helvetica, Arial, sans-serif;
$body-font: Helvetica, Arial, sans-serif;

$body-color: #555;
$heading-color: #333;
$highlight-color: #ccc;
$link-color: #333;
$link-hover: #000;

$ani_speed: 250ms;