// -------------------------------------------------
// Ristretto Variables
// ---------------------------------------------- */
//Roc Grotesk 500
$heading-font: "roc-grotesk-condensed", Helvetica, Arial, sans-serif;
//Aktiv Grotesk 300, 500, 700
$body-font: "aktiv-grotesk", Helvetica, Arial, sans-serif;

$white: #fff;
$gray10: #f2f2f2;
$gray20: #B0B7B7;
$gray30: #767676;
$gray40: #444;
$gray50: #2D1D1B;
$black: #000;

$blue: #00ABB3;

$body-color: #555;
$heading-color: #333;

$primary: $blue;

$warning-color: $blue;

$highlight-color: $blue;

$link-color: $blue;
$link-hover: #000;

$label-color: $body-color;
$button-color: $link-color;

$ani_speed: 250ms;