@charset "UTF-8";
/* SCSS Framework boilerplate from Ristretto: https://github.com/kylelarkin/ristretto */
* {
  box-sizing: border-box;
}

body, select, input, textarea {
  color: #333;
}

::-moz-selection {
  background: #ccc;
  color: #000;
  text-shadow: none;
}

::selection {
  background: #ccc;
  color: #000;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: transparent;
}

ins {
  background-color: #ccc;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ccc;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

.section {
  grid-column: full;
  padding: 2.5rem 0 3.3rem 0;
  position: relative;
  z-index: 0;
}
@media (min-width: 768px) {
  .section {
    scroll-margin-top: 109px;
    padding: 3.3rem 0 3rem;
  }
}
.section.parallax {
  background-attachment: fixed;
  background-size: 200%;
}
.section.border-top {
  border-top-width: 2px;
  border-style: solid;
}
.section.border-bottom {
  border-bottom-width: 2px;
  border-style: solid;
}
.section.border-left {
  border-left-width: 2px;
  border-style: solid;
}
.section.border-right {
  border-right-width: 2px;
  border-style: solid;
}
.section.gradient:after {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000000 100%);
  bottom: 0;
  content: " ";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 0;
}
.section .blur {
  grid-column: full;
  height: 100%;
  position: absolute;
  width: 100%;
  -webkit-backdrop-filter: blur(3px);
}
.section .section-inner .wp-block-columns:last-child {
  margin-bottom: 0;
}
.section .two-columns {
  display: grid;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .section .two-columns {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
.section .three-columns {
  display: grid;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .section .three-columns {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
@media (min-width: 1024px) {
  .section .three-columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.section .four-columns {
  display: grid;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .section .four-columns {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
@media (min-width: 1024px) {
  .section .four-columns {
    grid-template-columns: repeat(4, 1fr);
  }
}
.section * {
  z-index: 10;
}
.section:not(.has-background) {
  background-color: #fff !important;
}
.section #jarallax-container-0, .section #jarallax-container-1, .section #jarallax-container-2, .section #jarallax-container-3, .section #jarallax-container-4, .section #jarallax-container-5, .section #jarallax-container-6 {
  grid-column: full;
}
.section .slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 8000px;
  width: 100%;
}

.section .section {
  display: flex;
  padding: 1.5rem;
}
@media (min-width: 768px) {
  .section .section {
    padding: 3rem;
  }
}
.section .section .section-inner {
  flex-grow: 1;
}

.fancy + .section:before {
  opacity: 15;
}

.editor-styles-wrapper .section {
  padding: 4.3rem 0 3.3rem 0;
}
.editor-styles-wrapper .section-inner {
  grid-template-columns: 1fr !important;
}
.editor-styles-wrapper .two-columns > .block-editor-inner-blocks .block-editor-block-list__layout {
  display: grid;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .editor-styles-wrapper .two-columns > .block-editor-inner-blocks .block-editor-block-list__layout {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
.editor-styles-wrapper .three-columns > .block-editor-inner-blocks .block-editor-block-list__layout {
  display: grid;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .editor-styles-wrapper .three-columns > .block-editor-inner-blocks .block-editor-block-list__layout {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
@media (min-width: 1024px) {
  .editor-styles-wrapper .three-columns > .block-editor-inner-blocks .block-editor-block-list__layout {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.editor-styles-wrapper .four-columns > .block-editor-inner-blocks .block-editor-block-list__layout {
  display: grid;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .editor-styles-wrapper .four-columns > .block-editor-inner-blocks .block-editor-block-list__layout {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
@media (min-width: 1024px) {
  .editor-styles-wrapper .four-columns > .block-editor-inner-blocks .block-editor-block-list__layout {
    grid-template-columns: repeat(4, 1fr);
  }
}
.editor-styles-wrapper .section .section {
  display: flex;
  padding: 1.5rem;
}
@media (min-width: 768px) {
  .editor-styles-wrapper .section .section {
    padding: 3rem;
  }
}
.editor-styles-wrapper .section .section .section-inner {
  flex-grow: 1;
}
